{% extends "base.html" %}
{% set active_page = "faq" %}
{% set page_title = "FAQ - Common questions about SimpleDoge" %}
{% block body %}
<h1>FAQ</h1>
<h4>See something missing that you'd like to add?
<iframe src="http://ghbtns.com/github-btn.html?user=simplecrypto&repo=simplecoin&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
</h4>
<h4>Can't find the help you need here?
  <a href="https://kiwiirc.com/client/irc.freenode.net/#simpledoge">Try our IRC!</a></h4>
<h4>Want something added to the FAQ?
  <a href="{{ config['repopath'] }}issues">Open an issue on Github!</a></h4>
<h3>I've been mining for [x] hours and haven't gotten paid yet. What's up?</h3>
<p>Simple Doge is a PPLNS pool which means that once a block is solved by
someone in the pool it gets distributed among the workers who helped to solve
it. Finding blocks is random, just like rolling a dice, so sometimes it takes
longer than others to solve a block. Really large pools have more people working
to solve blocks, so they find them faster. But this also means that you get paid
out less for each solved block. Over time mining with a large pool or a small pool
will come out to the same amount of money, but since small pools solve blocks less
frequently it can take longer for it all to average out.</p>
<a href="/pool_stats">Pool Stats</a> - See the latest solved blocks and how lucky we were<br>
<a href="/user_stats">User Stats</a> - See your payouts from your contribution to the solved block

<h3>What do I enter for my worker name?</h3>
<p>It doesn't matter, it can be anything you choose as long as it doesn't
contain spaces or unicode character. Different worker names will allow you to
easily identify each machine connected to our pool on your <a href="/user_stats">User Stats</a>
page.</p>

<h3>How do I setup PPAgent?</h3>
<p>The guide for installing PPAgent can be found <a href="https://github.com/simplecrypto/ppagent#powerpool-agent">here</a>.</p>

<h3>What does round luck mean?</h3>
<p>Round luck is how lucky it would be to solve a block right now. The longer
it has taken the less lucky we are, so the percentage goes down. 100% is the 
expected average luck over time. 200% means it was found twice as fast while 
50% means it took twice as long as hoped.</p>
{% endblock %}
